.info-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 94%;
    margin-bottom: 10px;
}

.total, .price {
    font-weight: bold;
    font-size: 20px;
    color: rgb(29, 107, 172);
}

.cart-container {
    min-width: 300px;
    max-width: 520px;
}