<div class="cart-container card">
    <div class="card-header">
        <h5 class="card-title">Cart</h5>
    </div>
    <div class="card-body" *ngIf="cartProducts.length; else elseBlock">
        <app-cart-item
            *ngFor="let cartProduct of cartProducts"
            [cartProduct]="cartProduct"
            (remove)="onRemove($event)"
            (decreaseQuantity)="onDecreaseQuantity($event)"
            (increaseQuantity)="onIncreaseQuantity($event)">
        </app-cart-item>
        <button type="button" class="btn btn-secondary" (click)="onRemoveAll()">Remove all</button>
    </div>
    <ng-template #elseBlock>
        <div class="card-body">
            <div class="card-title">Cart is empty</div>
        </div>
    </ng-template>
    <div class="info-container">
        <span class="total">Total: {{ cartData.totalQuantity }}</span>
        <span class="price">Price: {{ cartData.totalSum }} $</span>       
    </div>
</div>
