.cart-container {
    width: 500px;
    padding: 2%;
    background-color: rgb(206, 205, 205);
}

.cart-item {
    padding: 2%;
}

.btn-confirm:hover {
    cursor: pointer;
    background-color: aqua;
}
