.cart-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-control {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.minus, .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
}